git-diff.patch
__pycache__/*
app/__pycache__/*
data/*
chatbot-cuda/model_cache/
.env
!.devcontainer/stubs/.env
.aider*
.DS_Store
provider-test.yml
.config.yml
!chatbot-server/.config.yml
temp/
target/
.cargo/
.docker/
.gemini/
.claude/

# Capacitor
node_modules/
android/app/build/
android/app/.gradle/
android/.gradle/
android/build/
capacitor.config.json
package.json
package-lock.json
static/index.html

