git-diff.patch
__pycache__/*
app/__pycache__/*
data/*
chatbot-cuda/model_cache/
.env
.aider*
.DS_Store
provider-test.yml
.config.yml
!chatbot-server/.config.yml
temp/
target/
.cargo/
.docker/
.gemini/
.claude/

